@page
@{
    ViewData["Title"] = "ConsumptionRegister";
}

<body xmlns="http://www.w3.org/1999/html">
<div class="text-center">
    <h1 class="display-4">Drink Registration</h1>
    <form asp-controller="DrinkRegistration" asp-action="RegisterConsumption" enctype="multipart/form-data" method="post">
        <fieldset>
            <div class="form-group">
                <label class="form-label mt-4">Name</label><p/>
                <input type="text" name="username" placeholder="Enter your name"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Please select a drink</label><p/>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="drink" id="superbock" value="superbock">
                <label class="form-check-label" for="superbock">
                    Super Bock
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="drink" id="sommersby" value="somersby" checked>
                <label class="form-check-label" for="sommersby">
                    Somersby
                </label>
            </div>
        </fieldset>
        <br/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>

